body {
  font-family: sans-serif;
}

.big_container {
  width: 500px;
  /* height: 500px; */
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.big_container div {
  width: 100px;
  background-color: steelblue;
  color: white;
  margin: 8px;
  padding: 8px;
}

<<<<<<< Updated upstream:in-lab-examples/puinote-lab02/example-flexbox-intro-1/style.css
.small_container p {
  width: 50px;
  background-color: darkgrey;
  color: black;
  margin: 8px;
  padding: 8px;
}
=======
.small_container{
  width: 100px;
  background-color: grey;
  color: white;
  margin: 8px;
  padding: 8px;
}
>>>>>>> Stashed changes:in-lab-examples/puinote-lab02/example-flexbox-intro/style.css
